<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fruit_shop : 商品列表</title>
<link rel="stylesheet" href="products.css">
</head>
<body>
	<h1>水果攤商品列表</h1>
	<table>
		<thead>
			<tr>
				<th>商品</th>
				<th>價格(元)</th>
				<th>單位</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td>蘋果</td>
				<td>10</td>
				<td>顆</td>
			</tr>
			<tr>
				<td>香蕉</td>
				<td>12</td>
				<td>條</td>
			</tr>
			<tr>
				<td>西瓜</td>
				<td>20</td>
				<td>片</td>
			</tr>
		</tbody>
	</table>
</body>
</html>